mixin story(story, due)
  article(class='story #{story.story_type}')
    menu
      - if(story.estimate != undefined)
          li.estimate
            - if(story.estimate == '-1')
              a( data-story='#{story.id}', 'class'='estimate') estimate
            - else
              strong= story.estimate
              | points
      - else
          li.type= story.story_type
      li= story.current_state
      li.labels= story.labels
      li.due
        strong= due.Month
        #{due.date}
    h3= story.name
    details( open: 'open')
      summary
      - if(typeof(story.description) == "string")
        = story.description
      - if (story.notes)
        .notes
          - each note in story.notes
            - if (note.text)
              .note= note.text
            - else
              - each n in note
                .note= n.text

menu
  li.button#present Start Presentation
ol#iterations
  - each iteration in iterations
    li
      - var due = formatDate(iteration.finish);
      - var start = formatDate(iteration.start);
      h2 #{start.Day}, #{start.Month} #{start.date}
      - if(iteration.stories.story)
        - if (iteration.stories.story && !iteration.stories.story.id)
          - each story in iteration.stories.story
            mixin story(story, due)
        - else if (iteration.stories.story && iteration.stories.story.id)
          mixin story(iteration.stories.story, due)


script(src="/js/presenter.js")
script(src="/js/poker.js")
script(src="http://majek.github.com/sockjs-client/sockjs-latest.min.js")
script
  var sock = new SockJS(window.location.origin + '/ipm/#{projectId}');
  sock.onmessage = function(message) {
    console.log(message);
    var data = JSON.parse(message.data);
    switch(data.instruction){
      case 'start':
        pres = new Presentation('.story', #{projectId}, data.slide);
        pres.start(data.slide);
      break;
      case 'next':
        if(typeof(pres) == 'undefined'){
          pres = new Presentation('.story', #{projectId});
        }
        pres.show(data.slide);
      break;
      case 'previous':
        if(typeof(pres) == 'undefined'){
          pres = new Presentation('.story', #{projectId});
        }
        pres.show(data.slide);
      break;
      case 'stop':
        pres.stop();
      break;
    }
    console.log(data.slide);
  };
  sock.onclose = function(m) {
    console.log('closed',m.status,m.reason);
    pres.stop();
  };
  $('#present').click(function(ev){
    ev.preventDefault();
    $.ajax({
      url: '/projects/present'
    , data: {
      projectId: #{projectId}
      , instruction: 'start'
      }
    , type: 'POST'
    , error : function(xhr, ajaxOptions,err) {
        console.log(err);
      }
    , success: function(resp){
        //console.log('data',resp.data);
      }
    });
  });


