mixin story(story)
  li(class='story #{story.story_type} #{story.current_state}')
    - if(story.estimate != undefined)
      a.estimate
        - if(story.estimate == '-1')
          strong( data-story='#{story.id}') estimate
        - else
          strong= story.estimate
          | points
    - else
      a.type= story.story_type
    h3
      a(href='#{story.url}', class='title')= story.name
    - if(typeof(story.description) == "string")
      .description
        div!= story.description.replace(/(\n)/g,"<br/>").replace(/(?:[*])([^*]*)(?:[*])/g,'<b>$1</b>');

mixin stories(stories)
  ul#stories
    - if (stories.story && !stories.story.id)
      each story in stories.story
        mixin story(story)
    - else if (stories.story && stories.story.id)
      mixin story(stories.story)

- each iteration, index in iterations
  - if(!iteration.type)
    - var date = new Date(iteration.finish)
    h2= (date.getMonth()+1)+"/"+(date.getDate()+1)
    - if(date.getDate()+1 == 28){ console.log(iteration.stories)}
    mixin stories(iteration.stories)
